<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
  integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<header>
  <div class="container-header">
    <div class="logo">
      <img [src]="logoImg" alt="" />
    </div>

    <div class="top-nav">
      <ul>
        <li>
          <a routerLink="/">
            <i class="fa-solid fa-desktop"></i>
            E-MOE
          </a>
        </li>
        <li>
          <a routerLink="">
            <i class="fa-solid fa-book"></i>
            E-LIBRARY
          </a>
        </li>
        <li>
          <a routerLink="">
            <i class="fa-regular fa-envelope"></i>
            MAIL
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="border-header"></div>
<div class="nav-home-top">
  <ul>
    <li>
      <a routerLink="/" class="link-first">ទំព័រដើម</a>
    </li>
    <li class="has-dropdown">
      <a
        >រដ្ឋមន្ត្រី និងអគ្គនាយកដ្ឋាន <i class="fa-solid fa-chevron-down"></i>
        <i class="fa-solid fa-chevron-up"></i>
      </a>
      <ul class="dropdown">
        <li>
          <a routerLink="minister-general-department/minister">រដ្ឋមន្ត្រី</a>
        </li>
        <li><a routerLink="">អគ្គនាយកដ្ឋានគាំពារបរិស្ថាន</a></li>
        <li><a routerLink="">អគ្គនាយកដ្ឋានចំណេះដឹង និងព័ត៌មានបរិស្ថាន</a></li>
        <li><a routerLink="">អគ្គនាយកដ្ឋានរដ្ឋបាល និងហិរញ្ញវត្ថុ</a></li>
        <li><a routerLink="">អគ្គនាយកដ្ឋានតំបន់ការពារធម្មជាតិ</a></li>
        <li><a routerLink="">អគ្គនាយកដ្ឋានសហគមន៍មូលដ្ឋាន</a></li>
        <li><a routerLink="">ការិយាល័យមូលដ្ឋាន និងផែនការ</a></li>
      </ul>
    </li>
    <li class="has-dropdown">
      <a
        >ច្បាប់ និងលិខិតបទដ្ឋាន <i class="fa-solid fa-chevron-down"></i>
        <i class="fa-solid fa-chevron-up"></i
      ></a>
      <ul class="dropdown dropdown1">
        <li><a href="#">ព្រះរាជក្រឹត្យ</a></li>
        <li><a href="#">អនុក្រឹត្យ</a></li>
        <li><a href="#">សេចក្តីប្រកាស</a></li>
        <li><a href="#">សារាចរណែនាំ</a></li>
        <li><a href="#">សម្បទានដីសេដ្ឋកិច្ច</a></li>
        <li><a href="#">គោលនយោបាយ</a></li>
        <li><a href="#">ឯកសារផ្សេងៗ</a></li>
      </ul>
    </li>
    <li class="has-dropdown">
      <a
        >ព័ត៌មាន <i class="fa-solid fa-chevron-down"></i>
        <i class="fa-solid fa-chevron-up"></i
      ></a>
      <ul class="dropdown dropdown2">
        <li><a href="#">ព័ត៌មាន</a></li>
        <li><a href="#">សេចក្តីជូនដំណឹង</a></li>
        <li><a href="#">ចំណេះដឹង & ការបោះពុម្ពផ្សាយ</a></li>
        <li><a href="#">វីដេអូ</a></li>
        <li><a href="#">វិទ្យុ</a></li>
      </ul>
    </li>
    <li class="has-dropdown">
      <a
        >អំពីក្រសួង <i class="fa-solid fa-chevron-down"></i>
        <i class="fa-solid fa-chevron-up"></i
      ></a>
      <ul class="dropdown dropdown2">
        <li><a href="#">អំពីក្រសួងបរិស្ថាន</a></li>
        <li><a href="#">រចនាសម្ព័ន្ធក្រសួងបរិស្ថាន</a></li>
        <li><a href="#">ជំនួយការ ទីប្រឹក្សា</a></li>
        <li><a href="#">មន្ទីរបរិស្ថានរាជធានី ខេត្ត ២៥</a></li>
      </ul>
    </li>
  </ul>
</div>
