<div class="footer-container">
  <footer class="moe-footer">
    <div class="footer-top">
      <div class="footer-logo-container">
        <img [src]="logo" alt="" />
      </div>

      <div class="footer-grid">
        <div class="footer-col">
          <h4>ទំនាក់ទំនងក្រសួង</h4>
          <p class="address">
            <i class="fa-solid fa-location-dot"></i> អគារមរតកតេជោ ដីឡូត៍លេខ៥០៣
            ផ្លូវកែវចិន្តា សង្កាត់ជ្រោយចង្វារ ខណ្ឌជ្រោយចង្វារ រាជធានីភ្នំពេញ
          </p>
          <p><i class="fa-solid fa-phone"></i> (+855) 23 213 908</p>
          <p>(+855) 23 220 369</p>
          <p>ទូរសារ: 023 212 540</p>
        </div>

        <div class="footer-col">
          <h4>មជ្ឈមណ្ឌលព័ត៌មាន</h4>
          <ul>
            <li><a href="#">ព័ត៌មានថ្មីៗ</a></li>
            <li><a href="#">សេចក្តីជូនដំណឹង</a></li>
            <li><a href="#">ចំណេះដឹង & ការបោះពុម្ពផ្សាយ</a></li>
            <li><a href="#">វីដេអូ</a></li>
            <li><a href="#">វិទ្យុ</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h4>អំពីក្រសួង</h4>
          <ul>
            <li><a href="#">មន្ត្រី</a></li>
            <li><a href="#">មន្ទីរបរិស្ថាន</a></li>
            <li><a href="#">ច្បាប់ និងលិខិតបទដ្ឋាន</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h4>អង្គភាពក្រោមក្រសួងបរិស្ថាន</h4>
          <ul>
            <li><a href="#">លេខាធិការដ្ឋានដីសីុសុវត្ថិភាពកម្ពុជា</a></li>
            <li>
              <a href="#">លេខាធិការដ្ឋានគ្រប់គ្រងតំបន់ឆ្នេរសមុទ្រកម្ពុជា</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="copyright">
        © ឆ្នាំ២០២៥ រក្សាសិទ្ធិគ្រប់យ៉ាងដោយ៖ ក្រសួងបរិស្ថាន | គាំទ្របច្ចេកទេសដោយ
        អគ្គនាយកដ្ឋានបច្ចេកវិទ្យាព័ត៌មានគមនាគមន៍ និងព័ត៌មាន
        នៃក្រសួងប្រៃសណីយ៍និងទូរគមនាគមន៍។
      </div>
      <div class="social-icons">
        <a class="color-blue" href="#"><i class="fa-brands fa-facebook"></i></a>
        <a class="color-red" href="#"><i class="fa-brands fa-youtube"></i></a>
        <a class="color-gray" href="#"><i class="fa-brands fa-tiktok"></i></a>
        <a class="color-gray" href="#"
          ><i class="fa-brands fa-x-twitter"></i
        ></a>
        <a class="color-gray" href="#"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a class="color-blue1" href="#"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
      </div>
    </div>
  </footer>
</div>
