<div class="imformation-three">
  <div class="news-section-container">
    <aside class="sidebar">
      <div class="box-header">
        <h2 class="sidebar-tag">#ព្រះរាជក្រឹត្យ</h2>
        <a href="#" class="btn-link">
          <span class="icon">
            <i class="fa-solid fa-share"></i>
          </span>
          មើលបន្ថែម
        </a>
      </div>
    </aside>

    <main class="content-grid">
      <div class="card" *ngFor="let item of documents">
        <div class="card-content">
          <h3 class="update-info">
            កំណត់ចុងក្រោយ
            <span>|</span>
            {{ item.date }}
          </h3>
        </div>
        <div class="card-actions">
          <h3 class="file-size">
            ទំហំ
            <span>|</span>
            {{ item.size }}
          </h3>
          <a [href]="item.downloadUrl" download class="link-download">
            <i class="fa-solid fa-download"></i>
            ទាញយកឯកសារ
          </a>
        </div>
      </div>
    </main>
  </div>
</div>

<!-- info4 -->
<div class="imformation-four">
  <div class="news-section-container">
    <aside class="sidebar">
      <div class="box-header">
        <h2 class="sidebar-tag">#ព្រះរាជក្រឹត្យ</h2>
        <a href="#" class="btn-link">
          <span class="icon">
            <i class="fa-solid fa-share"></i>
          </span>
          មើលបន្ថែម
        </a>
      </div>
    </aside>

    <main class="content-grid">
      <div class="card" *ngFor="let item of documents">
        <div class="card-content">
          <h3 class="update-info">
            កំណត់ចុងក្រោយ
            <span>|</span>
            {{ item.date }}
          </h3>
        </div>
        <div class="card-actions">
          <h3 class="file-size">
            ទំហំ
            <span>|</span>
            {{ item.size }}
          </h3>
          <a [href]="item.downloadUrl" download class="link-download">
            <i class="fa-solid fa-download"></i>
            ទាញយកឯកសារ
          </a>
        </div>
      </div>
    </main>
  </div>
</div>

<!-- info5 -->
<div class="imformation-five">
  <div class="news-section-container">
    <aside class="sidebar">
      <div class="box-header">
        <h2 class="sidebar-tag">#អនុក្រឹត្យ</h2>
        <a href="#" class="btn-link">
          <span class="icon">
            <i class="fa-solid fa-share"></i>
          </span>
          មើលបន្ថែម
        </a>
      </div>
    </aside>

    <main class="content-grid">
      <div class="card" *ngFor="let item of documents">
        <div class="card-content">
          <h3 class="update-info">
            កំណត់ចុងក្រោយ
            <span>|</span>
            {{ item.date }}
          </h3>
        </div>
        <div class="card-actions">
          <h3 class="file-size">
            ទំហំ
            <span>|</span>
            {{ item.size }}
          </h3>
          <a [href]="item.downloadUrl" download class="link-download">
            <i class="fa-solid fa-download"></i>
            ទាញយកឯកសារ
          </a>
        </div>
      </div>
    </main>
  </div>
</div>

<!-- info6 -->
<div class="imformation-six">
  <div class="news-section-container">
    <aside class="sidebar">
      <div class="box-header">
        <h2 class="sidebar-tag">#សារាចរ​ណែនាំ</h2>
        <a href="#" class="btn-link">
          <span class="icon">
            <i class="fa-solid fa-share"></i>
          </span>
          មើលបន្ថែម
        </a>
      </div>
    </aside>

    <main class="content-grid">
      <div class="card" *ngFor="let item of documents">
        <div class="card-content">
          <h3 class="update-info">
            កំណត់ចុងក្រោយ
            <span>|</span>
            {{ item.date }}
          </h3>
        </div>
        <div class="card-actions">
          <h3 class="file-size">
            ទំហំ
            <span>|</span>
            {{ item.size }}
          </h3>
          <a [href]="item.downloadUrl" download class="link-download">
            <i class="fa-solid fa-download"></i>
            ទាញយកឯកសារ
          </a>
        </div>
      </div>
    </main>
  </div>
</div>

<!-- info7 -->
<div class="imformation-seven">
  <div class="news-section-container">
    <aside class="sidebar">
      <div class="box-header">
        <h2 class="sidebar-tag">#សម្បទានដីសេដ្ធកិច្</h2>
        <a href="#" class="btn-link">
          <span class="icon">
            <i class="fa-solid fa-share"></i>
          </span>
          មើលបន្ថែម
        </a>
      </div>
    </aside>

    <main class="content-grid">
      <div class="card" *ngFor="let item of documents">
        <div class="card-content">
          <h3 class="update-info">
            កំណត់ចុងក្រោយ
            <span>|</span>
            {{ item.date }}
          </h3>
        </div>
        <div class="card-actions">
          <h3 class="file-size">
            ទំហំ
            <span>|</span>
            {{ item.size }}
          </h3>
          <a [href]="item.downloadUrl" download class="link-download">
            <i class="fa-solid fa-download"></i>
            ទាញយកឯកសារ
          </a>
        </div>
      </div>
    </main>
  </div>
</div>

<!-- info8 -->
<div class="imformation-eigth">
  <div class="news-section-container">
    <aside class="sidebar">
      <div class="box-header">
        <h2 class="sidebar-tag">#ឯកសារផ្សេងៗ</h2>
        <a href="#" class="btn-link">
          <span class="icon">
            <i class="fa-solid fa-share"></i>
          </span>
          មើលបន្ថែម
        </a>
      </div>
    </aside>

    <main class="content-grid">
      <div class="card" *ngFor="let item of documents">
        <div class="card-content">
          <h3 class="update-info">
            កំណត់ចុងក្រោយ
            <span>|</span>
            {{ item.date }}
          </h3>
        </div>
        <div class="card-actions">
          <h3 class="file-size">
            ទំហំ
            <span>|</span>
            {{ item.size }}
          </h3>
          <a [href]="item.downloadUrl" download class="link-download">
            <i class="fa-solid fa-download"></i>
            ទាញយកឯកសារ
          </a>
        </div>
      </div>
    </main>
  </div>
</div>
