<div class="imformation-first">
  <div class="news-section-container">
    <aside class="sidebar">
      <div class="box-header">
        <h2 class="sidebar-tag">#រដ្ឋមន្ត្រី</h2>
        <a href="#" class="btn-link">
          <span class="icon">
            <i class="fa-solid fa-share"></i>
          </span>
          មើលបន្ថែម
        </a>
      </div>
    </aside>

    <div class="news-grid">
      <div class="news-box" *ngFor="let item of articles">
        <div class="thumbnail">
          <img src="/src/assets/img/homeImg1.jpg" alt="" />
        </div>

        <div class="box-body">
          <a class="articles-title" href=""
            ><p>{{ item.title }}</p></a
          >

          <div class="box-footer">
            <span class="date">{{ formatDate(currentDate) }}</span>
            <button class="share-btn">
              <a href="#"><i class="fa-solid fa-share"></i></a>
            </button>
          </div>
        </div>
      </div>
      <div class="news-box" *ngFor="let item of articles">
        <div class="thumbnail">
          <img src="/src/assets/img/homeImg1.jpg" alt="" />
        </div>

        <div class="box-body">
          <a class="articles-title" href=""
            ><p>{{ item.title }}</p></a
          >

          <div class="box-footer">
            <span class="date">{{ formatDate(currentDate) }}</span>
            <button class="share-btn">
              <a href="#"><i class="fa-solid fa-share"></i></a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
