.imformation-first {
  display: flex;
  justify-content: center;
  background-color: #eff2ef;
}

.news-section-container {
  display: flex;
  width: 90%;
  margin-top: 40px;
  gap: 20px;
  font-family: Khmer OS Siemreap;
}

.sidebar {
  width: 234px;
  /* border-left: 4px solid #1c5e20; */
  background: #ededee;
}
.box-header {
  margin: 10px 0px;
  height: 90px;
  border-left: 4px solid #1c5e20;
  position: sticky;
  top: 0;
}
.sidebar-tag {
  color: #1c5e20;
  font-size: 15px;
  margin: 0;
  margin-left: 20px;
}
.btn-link {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 8px 14px;
  background-color: #f4f7f6;
  border: 1px solid #d6e0db;
  border-radius: 4px;
  color: #1fa463;
  font-size: 11px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 105px;
  margin-top: 15px;
}

.btn-link .icon {
  font-size: 14px;
}

.btn-link:hover {
  border: 1px solid green;
}

/* This creates the 4-box horizontal layout */
.news-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  flex: 1;
}

.news-box {
  border-radius: 8px;
  background: #ededee;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 435px;
}

.thumbnail {
  height: 50%;
  border: 1px solid #b6b6b6;
  transition: 0.1s;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.thumbnail:hover {
  cursor: pointer;
  border: none;
  transform: scale(1.3);
}

.box-body {
  padding: 12px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: #ededee;
}

.articles-title {
  font-size: 11px;
  font-family: Khmer OS Siemreap;
  color: #84899c;
  text-decoration: none;
}
.articles-title:hover {
  color: #1c5e20;
  text-decoration: underline;
}

.box-footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  color: #888;
}
.share-btn {
  border: none;

  color: #888;
}
.share-btn > a i {
  color: #47515e;
  font-size: 18px;
}
