<div class="home-page">
  <!-- slider  -->
  <div class="slideshow-container">
    <div class="mySlides fade">
      <img [src]="homeImg1" alt="doc" />
    </div>

    <div class="mySlides fade">
      <img [src]="homeImg2" alt="" />
    </div>

    <div class="mySlides fade">
      <img [src]="homeImg3" alt="" />
    </div>
    <div class="mySlides fade">
      <img [src]="homeImg4" alt="" />
    </div>
    <div class="mySlides fade">
      <img [src]="homeImg5" alt="" />
    </div>
    <div class="mySlides fade">
      <img [src]="homeImg2" alt="" />
    </div>
    <div class="mySlides fade"><img [src]="homeImg7" alt="" />=</div>

    <div class="dot-all">
      <span class="dot" (click)="currentSlide(1)"></span>
      <span class="dot" (click)="currentSlide(2)"></span>
      <span class="dot" (click)="currentSlide(3)"></span>
      <span class="dot" (click)="currentSlide(4)"></span>
      <span class="dot" (click)="currentSlide(5)"></span>
      <span class="dot" (click)="currentSlide(6)"></span>
      <span class="dot" (click)="currentSlide(7)"></span>
    </div>
  </div>

  <!--  -->
  <div class="news-ticker">
    <div class="ticker-header">រួមគ្នាដើម្បីបរិស្ថាន</div>

    <div class="ticker-body">
      <div class="ticker-track">
        <div class="ticker-content">
          <span *ngFor="let item of items"
            >{{ item }} &nbsp;&nbsp; &nbsp;&nbsp;</span
          >
        </div>
        <div class="ticker-content">
          <span *ngFor="let item of items"
            >{{ item }}&nbsp;&nbsp; &nbsp;&nbsp;</span
          >
        </div>
        <div class="ticker-content">
          <span *ngFor="let item of items"
            >{{ item }}&nbsp;&nbsp; &nbsp;&nbsp;</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <app-imformation-first></app-imformation-first>
  <app-imformation-two></app-imformation-two>
  <app-imformation-three></app-imformation-three>
</div>
