<div class="home-page">
  <div class="nav-home-top">
    <ul>
      <li>
        <a href="#" class="link-first">ទំព័រដើម</a>
      </li>
      <li class="has-dropdown">
        <a
          >រដ្ឋមន្ត្រី និងអគ្គនាយកដ្ឋាន <i class="fa-solid fa-chevron-down"></i>
          <i class="fa-solid fa-chevron-up"></i>
        </a>
        <ul class="dropdown">
          <li><a href="#">រដ្ឋមន្ត្រី</a></li>
          <li><a href="#">អគ្គនាយកដ្ឋានគាំពារបរិស្ថាន</a></li>
          <li><a href="#">អគ្គនាយកដ្ឋានចំណេះដឹង និងព័ត៌មានបរិស្ថាន</a></li>
          <li><a href="#">អគ្គនាយកដ្ឋានរដ្ឋបាល និងហិរញ្ញវត្ថុ</a></li>
          <li><a href="#">អគ្គនាយកដ្ឋានតំបន់ការពារធម្មជាតិ</a></li>
          <li><a href="#">អគ្គនាយកដ្ឋានសហគមន៍មូលដ្ឋាន</a></li>
          <li><a href="#">ការិយាល័យមូលដ្ឋាន និងផែនការ</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a
          >ច្បាប់ និងលិខិតបទដ្ឋាន <i class="fa-solid fa-chevron-down"></i>
          <i class="fa-solid fa-chevron-up"></i
        ></a>
        <ul class="dropdown dropdown1">
          <li><a href="#">ព្រះរាជក្រឹត្យ</a></li>
          <li><a href="#">អនុក្រឹត្យ</a></li>
          <li><a href="#">សេចក្តីប្រកាស</a></li>
          <li><a href="#">សារាចរណែនាំ</a></li>
          <li><a href="#">សម្បទានដីសេដ្ឋកិច្ច</a></li>
          <li><a href="#">គោលនយោបាយ</a></li>
          <li><a href="#">ឯកសារផ្សេងៗ</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a
          >ព័ត៌មាន <i class="fa-solid fa-chevron-down"></i>
          <i class="fa-solid fa-chevron-up"></i
        ></a>
        <ul class="dropdown dropdown2">
          <li><a href="#">ព័ត៌មាន</a></li>
          <li><a href="#">សេចក្តីជូនដំណឹង</a></li>
          <li><a href="#">ចំណេះដឹង & ការបោះពុម្ពផ្សាយ</a></li>
          <li><a href="#">វីដេអូ</a></li>
          <li><a href="#">វិទ្យុ</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a
          >អំពីក្រសួង <i class="fa-solid fa-chevron-down"></i>
          <i class="fa-solid fa-chevron-up"></i
        ></a>
        <ul class="dropdown dropdown2">
          <li><a href="#">អំពីក្រសួងបរិស្ថាន</a></li>
          <li><a href="#">រចនាសម្ព័ន្ធក្រសួងបរិស្ថាន</a></li>
          <li><a href="#">ជំនួយការ ទីប្រឹក្សា</a></li>
          <li><a href="#">មន្ទីរបរិស្ថានរាជធានី ខេត្ត ២៥</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="slider">
    <div class="slider-wrapper">
      <div class="images-container">
        <section id="slide-1" *ngFor="let item of sliders">
          <img [src]="item.img" alt="Event 1" />
        </section>
        <!-- <section id="slide-2"><img src="image2.jpg" alt="Event 2" /></section>
        <section id="slide-3"><img src="image3.jpg" alt="Event 3" /></section>
        <section id="slide-4"><img src="image4.jpg" alt="Event 4" /></section>
        <section id="slide-5"><img src="image5.jpg" alt="Event 5" /></section>
        <section id="slide-6"><img src="image6.jpg" alt="Event 6" /></section>
        <section id="slide-7"><img src="image7.jpg" alt="Event 7" /></section> -->
      </div>

      <div class="nav-dots">
        <a href="#slide-1"></a>
        <a href="#slide-2"></a>
        <a href="#slide-3"></a>
        <a href="#slide-4"></a>
        <a href="#slide-5"></a>
        <a href="#slide-6"></a>
        <a href="#slide-7"></a>
      </div>
    </div>

    <!-- <div class="home-button"></div> -->
    <!-- <div class="marquee-container">
      <div class="marquee-content">
        <span>រួមគ្នាដើម្បីបរិស្ថាន</span>
        <span>សុផាលីកៈ យុទ្ធនាការ</span>
        <span>ឯកឧត្តមបណ្ឌិត អ៊ាង សុផល្លែត</span>
        <span>រួមគ្នាដើម្បីបរិស្ថាន</span>
        <span>សុផាលីកៈ យុទ្ធនាការ</span>
        <span>ឯកឧត្តមបណ្ឌិត អ៊ាង សុផល្លែត</span>
      </div>
    </div>
  </div> -->
  </div>
</div>
