.home-page {
  font-family: Khmer OS Siemreap;
}

/*  slide animation */

/* Container styling */
.slideshow-container {
  position: relative;
  margin: auto;
  overflow: hidden;
  height: 489px;
}

/* Hide images by default */
.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 30s;
}

@keyframes fade {
  from {
    opacity: 2;
  }
  to {
    opacity: 1;
  }
}

/* Dot styling */
.dot-all {
  text-align: center;
  position: absolute;
  bottom: 15px;
  width: 100%;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: rgb(14, 188, 231);
}

/*  */
/* Container for the whole ticker bar */
.news-ticker {
  display: flex;
  background-color: #d2ab6f; /* ពណ៌ទឹកក្រូចដូចក្នុងរូបភាព */
  height: 45px;
  align-items: center;
  overflow: hidden;
  font-family: Khmer OS Siemreap;
  border: 1px solid #b37700;
  font-size: 10px;
}

.ticker-header {
  background-color: #bf7a00; /* ពណ៌ចាស់ជាងបន្តិចសម្រាប់ក្បាល */
  color: white;
  padding: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  white-space: nowrap;
  z-index: 2;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
}

.ticker-body {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
}

.ticker-track {
  display: flex;
  width: max-content;
  animation: scroll-left 25s linear infinite;
}

.ticker-content {
  display: flex;
  white-space: nowrap;
  color: white;
  font-size: 12px;
}

/* គំនូសជីវចលសម្រាប់ឱ្យរត់ loop */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.container {
  background-color: #eff2ef;
}
